
.bottom_bar_color{

-fx-background-color:linear-gradient(from 25% 25% to 100% 100% ,#07262c,#15848c);

}


.top-background{

-fx-background-color: #07262c;

}


.body-background{

-fx-background-color:linear-gradient(from 25% 25% to 100% 100% ,#1F5F5B,#06373A);
}


.transparent{

-fx-background-color:rgba(0,0,0,0);

}

.search-background{

-fx-background-color: #156870;
-fx-background-radius: 50;
}


.menu-bar-background{

-fx-background-color:#07262c;
-fx-background-radius:0 0 30 0;
}


.button-custom {
    -fx-background-color: #1da3aa;
    -fx-border-color: #66e2e2;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 5, 0, 0, 1);
}

/* Εφέ όταν το κουμπί πατιέται */
.button-custom:pressed {
    -fx-background-color: #66e2e2;
    -fx-border-color: #1da3aa;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.2), 4, 0, 0, 1);
}


/***/

/* Κλασσικά στυλ για τις επιλογές */
.popup-list {
    -fx-background-color: #1da3aa;
    -fx-padding: 20px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 1);
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.popup-list label {
    -fx-padding: 10px;
    -fx-background-color: #1da3aa;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.popup-list label:hover {
    -fx-background-color: #66e2e2;
}

.list-view .scroll-bar:vertical {
    -fx-opacity: 0; /* Hide vertical scrollbar */
    -fx-max-width: 0; /* Prevent interaction */
}

.list-view .scroll-bar:horizontal {
    -fx-opacity: 0; /* Hide horizontal scrollbar */
    -fx-max-height: 0; /* Prevent interaction */
}


/*Midia Player */

.button_media {
    -fx-background-radius: 50%; /* Στρογγυλό κουμπί */
    -fx-border-radius: 50%; /* Στρογγυλό περίγραμμα */
    -fx-padding: 10px; /* Padding για το κουμπί */
    -fx-background-color: #0c2629; /* Σκούρο φόντο */
    -fx-border-color: #ffffff; /* Λευκό περίγραμμα */
    -fx-border-width: 2px;
    -fx-text-fill: white; /* Λευκό για το κείμενο/εικονίδιο */
    -fx-font-size: 18px; /* Μέγεθος γραμματοσειράς για το icon */
    -fx-cursor: hand; /* Αλλαγή δείκτη */
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.4), 5, 0.3, 0, 2); /* Ελαφριά λευκή σκιά */
    -fx-alignment: center;
}

.button_media:hover {
    -fx-background-color: #145e63; /* Ελαφρώς φωτεινότερο σκούρο */
    -fx-border-color: #ffffff; /* Διατήρηση λευκού περιγράμματος */
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.6), 8, 0.4, 0, 2); /* Εντονότερη σκιά */
}

.button_media:pressed {
    -fx-background-color: #0a1c1e; /* Ακόμα πιο σκούρο όταν πατιέται */
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.8), 10, 0.5, 0, 2); /* Ενίσχυση σκιάς */
    -fx-scale-x: 0.95; /* Μικρή συρρίκνωση */
    -fx-scale-y: 0.95;
}



